body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header styles */
.banner {
    background-color: #E554731A;
    display: flex;
    padding: 190px 95px 32px 240px;
    justify-content: space-around;
}

.banner-container {
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 0; */
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 600px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* padding: 80px 95px; */
}

.banner-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 600px;
    padding-top: 32px;
}

.btn-primary {
    background-color: #E55473;
    border-radius: 5px;
    margin-top: 32px;
    border: 0;
    padding: 20px 43px;
    color: white;
    margin-bottom: 140px;
}

.banner-img {
    width: 500px;
    /* position: absolute; */
    bottom: 0;
    height: 800px;
    margin: 50px 240px 0 90px;
}

/*..............main styles............ */
/* .main{
    text-align: center;
} */
.main-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 170px;
}

.main-discription {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
}

.img-png6 {
    max-width: 450px;
    height: 550px;
    justify-content: space-around;
    padding: 110px 75px 0px 75px;
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
}

.img-title {
    color: #272727;
    font-size: 24px;
    font-weight: 400;
    margin-left: 150px;
    text-decoration: underline;
}



.container-box{
    display: flex;
   justify-content: space-around;
   padding-top: 48px;
}

.img-5{
    max-width: 450px;
    height: 550px;
    justify-content: space-around;
    padding: 110px 75px 0px 75px;
    border-radius: 300px 300px 0 0;
    background: rgba(5, 151, 160, 0.15);
}
.img-7{
    max-width: 450px;
    height: 550px;
    justify-content: space-around;
    padding: 110px 75px 0px 75px;
    border-radius: 300px 300px 0 0;
    background: rgba(71, 125, 17, 0.15);
}